@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }
    body{
        background-color: #FFFFFF;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }
}



/* Custom scrollbar styling */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px; /* Height for horizontal scrollbar */

  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 0 10px; /* Add some margin on sides */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1a73e8;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0d62d9;
  }